<h1 class="text-3xl font-semibold">GitHub Issues</h1>
<hr class="my-4 border-t border-gray-200">

<!--dos clumnas -->
<section class="grid grid-cols-2 gap-2 mt-4">
    <!--columna 1-->
    <div class="col-span-1">
        <!-- state -->
        <div class="flex gap-4">
            <app-button>All</app-button>
            <app-button>Open</app-button>
            <app-button>Closed</app-button>
        </div>
        <!--cards-->
        <div class="mt-4 flex flex-col">
           <p>card</p>
        </div>
    </div>
    <!--columna 2-->
    <div class="col-span-1">
        <div class="mt-4 flex flex-col">
            @if (_issuesFacade.labelsQuery.isPending()) {
                <p>Loading...</p>
            }@else if(_issuesFacade.labelsQuery.isError()){
                <p>Error loading labels</p>
            } @else {
                <div class="flex flex-wrap gap-2">
                    @for (label of _issuesFacade.labelsQuery.data(); track label.id) {
                        <span class="rounded-md border border-white/10 px-2 py-1 text-sm">
                            {{label.name}}
                        </span>
                    }
                </div>
            }
        </div>
    </div>

</section>
